@charset "UTF-8";

header {
    background: #388bff;
    width: 100%;
    position: fixed;
}

.inner {
    width: 1100px;
}


header .header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #f2ff7b;
    padding-top: 30px;
}

ul {
    display: flex;
    justify-content: space-between;
}

ul li {
    padding: 30px;
}

li a {
    color: #ffffff;
    text-decoration: none;
}